ASPNETWebService/Consumer/Service References/AndyLemonway/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://AndyLemonway/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://AndyLemonway/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://AndyLemonway/">
      <s:element name="FibonacciService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="N" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibonacciServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FibonacciServiceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlToJsonServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlToJsonServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FibonacciServiceSoapIn">
    <wsdl:part name="parameters" element="tns:FibonacciService" />
  </wsdl:message>
  <wsdl:message name="FibonacciServiceSoapOut">
    <wsdl:part name="parameters" element="tns:FibonacciServiceResponse" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonServiceSoapIn">
    <wsdl:part name="parameters" element="tns:XmlToJsonService" />
  </wsdl:message>
  <wsdl:message name="XmlToJsonServiceSoapOut">
    <wsdl:part name="parameters" element="tns:XmlToJsonServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="FibonacciService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The  service takes input an integer N, and returnthe Nth value in the Fibonacci Fibonacci sequence.</wsdl:documentation>
      <wsdl:input message="tns:FibonacciServiceSoapIn" />
      <wsdl:output message="tns:FibonacciServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The  service takes input a string xml and returnsthe json form of the xml string, It will return "Bad Xml format" if the input stringis not a  well-formed xml</wsdl:documentation>
      <wsdl:input message="tns:XmlToJsonServiceSoapIn" />
      <wsdl:output message="tns:XmlToJsonServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FibonacciService">
      <soap:operation soapAction="http://AndyLemonway/FibonacciService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonService">
      <soap:operation soapAction="http://AndyLemonway/XmlToJsonService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FibonacciService">
      <soap12:operation soapAction="http://AndyLemonway/FibonacciService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlToJsonService">
      <soap12:operation soapAction="http://AndyLemonway/XmlToJsonService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:57410/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:57410/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>